* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

body {
    width: 100%;
    margin: 10px;
    padding-right: 15px;
}

img {
    max-width: 100%;
}

/* PAGE HEADER */ 

.main-header {
    color:black;
    margin-bottom: 10px;
    overflow: hidden;
}

.main-header img {
    float: left;
    height: 115px;
    width: 110px;
    padding: 5px 5px 5px 0;
    margin: 15px 5px 0 0;
}

.main-header h1, .main-header h3 {
    margin: 0;
    font-weight: bold;
    padding: 18px 0 1px 0;    
}

.main-header .languages {
    position: absolute; 
    right: 25px;
    top: 35px;
    float: right;
}

.header-links {
    position: relative; 
    right: 20px;
    text-decoration: none;
    padding-left: 5px;
}

header ul {
    list-style-type: none;
    display: flex;
    float: right;
    margin: 0;
    padding: 0;
}

header ul li {
    font-weight: bold;
}

header ul li :hover {
    color: red;
}

/* NAVIGATION BAR */ 

.nav-bar {
    margin: 0;
    width: 100%;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background:rgba(44, 62, 80, 1);
}

.search-bar {
    float: right;
    padding: 10px 15px;
}

.nav-bar li a {
    float: left;
    color: white;
	padding: 10px 45px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.nav-bar li :hover {
    color: red;
}

/* MAIN IMAGE */ 

.sub-nav-image {
    border: 1px solid black;
    width: 100%;
    margin-bottom: 10px;
    height: 450px;
}

/* MAIN CONTENT */ 

.wrapper {
    display: grid;
    grid-template-columns: 75%;
    column-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
}

/* .wrapper .social, .wrapper .navigate {
    grid-auto-rows: 7px;
} */

.wrapper article {
    grid-column: 1;
    grid-row: 1 / 6;
}

.wrapper .social {
    grid-column: 2;
    grid-row: 1 / 2;
}

.wrapper .navigate {
    grid-column: 2;
    grid-row: 2 / 5;
}

/* ARTICLE */ 

article {
    border: 0.5px solid black;
    padding: 12px;
}

article h2 {
    color:white;
    background:rgba(44, 62, 80, 1);
    margin: 0 auto;
    padding-left: 5px;
}

article .desc-img {
    float: left;
    margin: 30px 15px 30px 1px;
    position: relative;
    width: 200px;
    height: 300px;
}

.description {
    line-height: 1.5em;
    padding-top: 10px;
    margin: auto;
    text-align: justify;
}

/* ARTICLE BUTTONS */

.buttons {
    display: flex;
    width: 90%;
    margin: 20px;
}

.buttons .btn1 {
    width: 100%;
}

.buttons .btn2 {
    width: 100%;
}

.buttons .btn1 button:hover, .buttons .btn2 button:hover {
    color: red;
} 


.buttons .btn1 button {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    margin-left: 100px;
}

.buttons .btn2 button {
    font-size: 18px;
    padding-right: 10px;
    padding-left: 10px;
}

/* ARTICLE SUBHEADER */ 

.subheader {
    margin: auto;
    max-width: 100%;
    background:rgba(44, 62, 80, 1);
    color: white;
    font-size: 20px;
    font-weight: normal;    
    padding-left: 5px;
    padding: 4px;
}

/* ARTICLE SUBHEADER IMAGES */ 

.figure1 {
    float: left;
    width: 25%;
    padding: 2%;
    margin: 10px 0px;
}

figcaption {
    padding-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    float: left;
}

/*  ARTICLE BOTTOM TEXT */

.review {
    float: left;
    padding-top: 10px;
    text-align: justify;
    line-height: 1.5em;
}

/* SOCIAL */ 

.social {
    border: 0.5px solid black;
    padding: 10px;
}

.social h2 {
    background:rgba(44, 62, 80, 1);
    color: white;
    text-align: center;
    margin-top: 3.8px;
}

aside button {
    width: 90%;
    margin: 20px 15px 10px 15px;
}

.social video {
    width: 90%;
    height: 220px;
    margin: 0px 15px 0px 15px;
}

/* NAVIGATE */ 

.navigate {
    border: 0.5px solid black;
    padding: 10px;
}

.navigate ul {
    list-style: none;
    /* list-style-type: square; */
    font-size: 24px;
    padding-left: 0px;
}

.navigate ul li::before {
    content: "\2666";
    margin: 0 1em;
  }

.navigate h2 {
    background:rgba(44, 62, 80, 1);
    color: white;
    margin-top: -0.5px;
    text-align: center;
    font-stretch: condensed;
}

.navigate ul li a {
    text-decoration: none;
}

.navigate ul li a:hover {
    color: red;
}

/* HORIZONTAL LINE */

.hr {
    background:rgba(44, 62, 80, 1);
}

/* PAGE FOOTER */ 

.futer {
    width: 800px;
    margin: auto;
    padding: auto;
}

.futer ul  {
    display: flex;
    padding: 0;
} 

.futer ul li {
    width: 100%;
    list-style-type: none;
    font-size: 22px;
}

.futer ul li a:hover {
    color: red;
}

.copyright {
    text-align: center;
    float: right;
    width: 100%;
    padding-bottom: 10px;
}

